<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erase All Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Erase All Data</h1>
    <p>⚠️ This will delete your entire budget and all Expenses</p>
    <p>Are you sure?</p>
    <form>
        <button type="submit">Yes, erase everything</button>
    </form>
    </p><a href="/">Cancel and go back</a><p>
        
</body>
</html>